<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Data Puskesmas</h1>
    <br><br>
    <table border="1">
        <thead>
            <tr>
                <th>No</th>
                <th>Nama</th>
                <th>Alamat</th>
                <th>Kecamatan</th>
                <th>Wilayah</th>
                <th>Jenis</th>
            </tr>
        </thead>
        <tbody>
            {% for ps in puskesmas %}
            <tr>
                <th width="5%">{{forloop.counter}}</th>
                <td width="20%">{{ps.nama}}</td>
                <td width="40%">{{ps.alamat}}</td>
                {% for kc in kecamatan %}
                {% if kc.id|slugify == ps.kecamatan %}
                <td width="10%">{{kc.nama}}</td>
                {% endif %}
                {% endfor %}

                <td width="10%">
                {% for kc in kecamatan %}
                {% if kc.id|slugify == ps.kecamatan %}
                    {% if kc.wilayah == '1' %}
                        Kota
                    {% elif kc.wilayah == '2' %}
                        Kabupaten
                    {% endif %}
                {% endif %}
                {% endfor %}
                </td>

                <td width="10%">
                    {% if ps.jenis == '1' %}
                        Non Rawat Inap
                    {% elif ps.jenis == '2' %}
                        Rawat Inap
                    {% endif %} 
                </td>
            </tr>
            {% endfor %}
        </tbody>

    </table>
</body>
</html>