{% extends 'base.html' %}
{% block content %}
<div class="container">
    <h1 class="my-5">Puskesmas</h1>

    {% if user.is_authenticated %}
    <div class="d-flex justify-content-end">
        <a href="{% url 'puskesmas_cetak' %}" target="_blank" class="btn btn-primary">Cetak</a>
        <div class="mx-1"></div>
        <a href="{% url 'puskesmas_tambah' %}" class="btn btn-primary">Tambah</a>
    </div>
    {% endif %}
    <table class="table table-bordered my-3">
        <thead>
            <tr>
                <th scope="col">No</th>
                <th scope="col">Nama</th>
                <th scope="col">Alamat</th>
                <th scope="col">Kecamatan</th>
                <th scope="col">Wilayah</th>
                <th scope="col">Jenis</th>
                {% if user.is_authenticated %}
                <th scope="col">Ubah</th>
                <th scope="col">Hapus</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for ps in puskesmas %}
            <tr>
                <th scope="row" width="5%">{{forloop.counter}}</th>
                <td width="20%">{{ps.nama}}</td>
                <td width="40%">{{ps.alamat}}</td>
                {% for kc in kecamatan %}
                {% if kc.id|slugify == ps.kecamatan %}
                <td width="10%">{{kc.nama}}</td>
                {% endif %}
                {% endfor %}

                <td width="10%">
                {% for kc in kecamatan %}
                {% if kc.id|slugify == ps.kecamatan %}
                    {% if kc.wilayah == '1' %}
                        Kota
                    {% elif kc.wilayah == '2' %}
                        Kabupaten
                    {% endif %}
                {% endif %}
                {% endfor %}
                </td>

                <td width="10%">
                    {% if ps.jenis == '1' %}
                        Non Rawat Inap
                    {% elif ps.jenis == '2' %}
                        Rawat Inap
                    {% endif %} 
                </td>
                {% if user.is_authenticated %}
                <td align="center"><a href="{% url 'puskesmas_ubah' ps.id %}" class="btn btn-warning">Ubah</a></td>
                <td align="center">
                    <form action="{% url 'puskesmas_hapus' ps.id %}" method="post">
                        {% csrf_token %}
                        <input type="submit" value="Hapus" class="btn btn-danger">
                    </form>
                </td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock%}