{% extends 'base.html' %}
{% block content %}
<div class="container">
    <h1 class="my-5">Ubah Puskesmas</h1>

    <form action="" method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label for="nama" class="form-label">Nama Puskesmas</label>
            <input type="text" class="form-control" id="nama" placeholder="Masukkan Nama Puskesmas" name="nama"
                value="{{form.nama.value}}">
        </div>
        <div class="mb-3">
            <label for="alamat" class="form-label">Alamat</label>
            <textarea class="form-control" id="alamat" rows="3" placeholder="Masukkan Alamat" style="resize: none;"
                name="alamat">{{form.alamat.value}}</textarea>
        </div>
        <div class="mb-3">
            <label for="nama" class="form-label">Kecamatan</label>
            <select class="form-select" aria-label="Default select example" name="kecamatan">
                <option selected>Pilih Kecamatan</option>
                {% for kc in kecamatan %}
                <option value="{{kc.id}}" {% if form.kecamatan.value == kc.id|slugify %} selected {% endif %}>
                    {{kc.nama}}
                </option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3">
            <label for="nama" class="form-label">Jenis</label>
            <select class="form-select" aria-label="Default select example" name="jenis">
                <option selected>Pilih Jenis</option>
                <option value="1" {% if form.jenis.value == '1' %} selected {% endif %}>Non Rawat Inap</option>
                <option value="2" {% if form.jenis.value == '2' %} selected {% endif %}>Rawat Inap</option>
            </select>
        </div>
        <input type="submit" value="Ubah" class="btn btn-primary">
    </form>
</div>
{% endblock%}