<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Kecamatan</title>
</head>
<body>
    <h1>Data Kecamatan</h1>
    <br><br>
    <table border="1">
        <thead>
            <tr>
                <th>No</th>
                <th>Nama</th>
                <th>Wilayah</th>
            </tr>
        </thead>
        <tbody>
            {% for kc in kecamatan %}
            <tr>
                <th>{{forloop.counter}}</th>
                <td>{{kc.nama}}</td>
                <td>
                    {% if kc.wilayah == '1' %}
                        Kota
                    {% elif kc.wilayah == '2' %}
                        Kabupaten
                    {% endif %}
                    
                </td>
            </tr>
            {% endfor %}
        </tbody>

    </table>
</body>
</html>