{% extends 'base.html' %}
{% block content %}
<div class="container">
    <h1 class="my-5">Kecamatan</h1>

    {% if user.is_authenticated %}
    <div class="d-flex justify-content-end">
        <a href="{% url 'kecamatan_cetak' %}" target="_blank" class="btn btn-primary">Cetak</a>
        <div class="mx-1"></div>
        <a href="{% url 'kecamatan_tambah' %}" class="btn btn-primary">Tambah</a>
    </div>
    {% endif %}
    <table class="table table-bordered my-3">
        <thead>
            <tr>
                <th scope="col">No</th>
                <th scope="col">Nama</th>
                <th scope="col">Wilayah</th>
            </tr>
        </thead>
        <tbody>
            {% for kc in kecamatan %}
            <tr>
                <th scope="row">{{forloop.counter}}</th>
                <td>{{kc.nama}}</td>
                <td>
                    {% if kc.wilayah == '1' %}
                        Kota
                    {% elif kc.wilayah == '2' %}
                        Kabupaten
                    {% endif %}
                    
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock%}