{% extends 'base.html' %}
{% block content %}
<div class="container">
    <h1 class="my-5">Tambah Kecamatan</h1>

    <form action="" method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label for="nama" class="form-label">Nama Kecamatan</label>
            <input type="text" class="form-control" id="nama" placeholder="Masukkan Nama Kecamatan" name="nama">
        </div>
        <div class="mb-3">
            <label for="nama" class="form-label">Wilayah</label>
            <select class="form-select" aria-label="Default select example" name="wilayah">
                <option selected>Pilih Wilayah</option>
                <option value="1">Kota</option>
                <option value="2">Kabupaten</option>
            </select>
        </div>
        <input type="submit" value="Tambah" class="btn btn-primary">
    </form>
</div>
{% endblock%}