{% extends 'base.html' %}
{% block content %}
<div class="container">
    <h1 class="my-5">Home</h1>
    <h2 class="mb-5">Selamat Datang di Sistem Informasi Geografis Persebaran Puskesmas di Kediri Raya</h2>
    <h3>User : <b>{{user}}</b></h3>
</div>
{% endblock %}