{% extends 'base.html' %}
{% block content %}
<div class="container">
    <h1 class="my-5">Login</h1>

    <form action="" method="post">
        {% csrf_token %}
        <div class="mb-3 col-md-6">
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control" id="username" placeholder="Masukkan Username" name="username">
        </div>
        <div class="mb-3 col-md-6">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="username" placeholder="Masukkan Password" name="password">
        </div>
        <input type="submit" value="Login" class="btn btn-primary">
    </form>
</div>
{% endblock%}